<div class="form-group">
    <input type="checkbox" class="form-control" disabled checked>
    Item Name
</div>
<div class="form-group">
    <input type="checkbox" class="form-control" disabled checked>
    Item ID (Manufacturer ID)
</div>
<div class="form-group">
    <input type="checkbox" class="form-control" disabled checked>
    Manufacturer
</div>
<div class="form-group">
    <input type="checkbox" class="form-control" disabled checked>
    Category
</div>
<div class="form-group">
    <input type="checkbox" class="form-control" disabled checked>
    Unit of measure
</div>
<div class="form-group">
    <input type="checkbox" class="form-control" disabled checked>
    Item Image
</div>
<div class="form-group">
    <input type="checkbox" class="form-control" disabled checked>
    Unit of quantity
</div>
<div class="form-group">
    <input type="checkbox" class="form-control" disabled checked>
    Item Description
</div>
<div class="form-group">
    <input type="checkbox" class="form-control" disabled checked>
    Default Price ($)
</div>
<div class="form-group">
    <input type="checkbox" class="form-control" disabled checked>
    Purchase Price (amt) ($)
</div>