<div class="bg-light lter b-b wrapper-md products-header">
    <div>
        <ol class="breadcrumb">
            <li><a ui-sref="main.admin_dashboard"><i class="fa fa-home"></i> Home</a></li>
            <li><a>Locations</a></li>
        </ol>
    </div>
</div>

<div class="wrapper-md">

    <div class="row m-b-md">
        <div class="inner-addon right-addon m-n col-md-3">
            <!--<i class="fa fa-times" ng-click="filters.substr = ''"></i>-->
            <input type="text"
                   ng-model="substr"
                   ng-model-options="{ debounce: 400 }"
                   placeholder="Location Name"
                   class="form-control">
        </div>
    </div>

    <loading></loading>

    <div class="alert alert-warning text-center" ng-hide="locations.length || inProgress">
        There is not any location in the system.
    </div>

    <table ng-show="locations.length" class="table table-bordered table-hover table-condensed bg-white-only">
        <tr style="font-weight: bold" class="product-grey-back">
            <td width="11%">
                Location Name
                <span sortings="name" on-change="order(params)"></span>
            </td>
            <td width="13%">
                Address 1
                <span sortings="address_1" on-change="order(params)"></span>
            </td>
            <td width="12%">
                Address 2
                <span sortings="address_2" on-change="order(params)"></span>
            </td>
            <td width="7%">
                State
                <span sortings="state" on-change="order(params)"></span>
            </td>
            <td width="10%">
                City
                <span sortings="city" on-change="order(params)"></span>
            </td>
            <td width="9%">
                Zip Code
                <span sortings="zip" on-change="order(params)"></span>
            </td>
            <td width="13%">
                Account Name
            </td>
            <td width="25%">Actions</td>

        </tr>
        <tr ng-repeat="location in locations">
             <td class="v-middle">
                 <span editable-text="location.name"
                       ng-bind="location.name"
                       e-name="name"
                       e-form="rowform"
                       e-required>

                 </span>
             </td>
            <td class="v-middle">
                <span editable-text="location.address_1"
                      ng-bind="location.address_1"
                      e-name="name"
                      e-form="rowform"
                      e-required>

                </span>
            </td>
            <td class="v-middle">
                <span editable-text="location.address_2"
                      ng-bind="location.address_2"
                      e-name="name"
                      e-form="rowform"
                      e-required>

                </span>
            </td>
            <td class="v-middle">
                <span editable-select="location.state"
                      e-ng-options="s.value as s.name for s in statesList"
                      ng-bind="location.state | fullStateName"
                      e-name="name"
                      e-form="rowform"
                      e-required>
                </span>
            </td>
            <td class="v-middle">
                <span editable-text="location.city"
                      ng-bind="location.city"
                      e-name="name"
                      e-form="rowform"
                      e-required>
                </span>
            </td>
            <td class="v-middle">
                <span editable-text="location.zip"
                      ng-bind="location.zip"
                      e-form="rowform">
                </span>
            </td>
            <td class="v-middle">
                <span ng-bind="location.account_name">
                </span>
            </td>
            <td class="v-middle">
                <form editable-form
                      name="rowform"
                      ng-show="rowform.$visible"
                      shown="inserted == location"
                      oncancel="cancel($index)"
                      onaftersave="update(location)"
                      class="form-buttons form-inline">
                    <button type="submit"
                            ng-disabled="rowform.$waiting"
                            class="btn btn-sm btn-info">
                        Save
                    </button>
                    <button type="button"
                            ng-disabled="rowform.$waiting"
                            ng-click="rowform.$cancel()"
                            class="btn btn-sm btn-default">
                        Cancel
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-sm btn-success" view-activity-button by="location" field-id="{{ location.id }}" account="{{ location.account_id }}">Location activity</button>
                    <button class="btn btn-sm btn-info" ng-click="rowform.$show()">Edit</button>
                    <button class="btn btn-sm btn-danger" ng-click="remove(location.account_name, location.id)">Remove</button>
                </div>
            </td>
        </tr>
    </table>
</div>