<ul class="nav navbar-nav hidden-sm">
    <li ui-sref-active="active">
        <a ui-sref="main.admin_dashboard">
            Dashboard
        </a>
    </li>
    <li class="dropdown pos-stc" dropdown>
        <a href="" class="dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
            <span>Accounts</span>
            <span class="caret"></span>
        </a>
        <div class="dropdown-menu wrapper w bg-white">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-unstyled l-h-2x">
                        <li ui-sref-active="active">
                            <a ui-sref="account.index">
                                <i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>
                                <span>Accounts List</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="user.index">
                                <i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>
                                <span>Users List</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="location.admin-index">
                                <i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>
                                <span>Locations</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="products.custom-items">
            <span>Custom Items</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="pricing-template.index">
            <span>Pricing Templates</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="manufacturer.index">
            <span>Manufacturer</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="category.index">
            <span>Categories</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="products.admin-list">
            <span>Products</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="order.received">
            <span>Received Orders</span>
        </a>
    </li>
</ul>