<ul class="nav navbar-nav hidden-sm">
    <li ui-sref-active="active">
        <a ui-sref="main.corporate_admin_dashboard">
            <span>Dashboard</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="order.pending">
            <span>Pending Orders</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="products.index">
            <span>Products</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="main.report">
            <span>Reports</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="location.corp-admin-index">
            <span>Locations</span>
        </a>
    </li>
</ul>