<div class="bg-light lter b-b wrapper-md products-header">
    <div>
        <ol class="breadcrumb">
            <li><a ui-sref="main.corporate_admin_dashboard"><i class="fa fa-home"></i> Home</a></li>
            <li><a>Pending Orders</a></li>
        </ol>
    </div>
</div>

<div class="wrapper-md">

    <loading></loading>

    <div class="alert alert-warning text-center" ng-hide="orders.length || inProgress">
        There are not any pending order int the system.
    </div>

    <table ng-show="orders.length" class="table table-bordered table-hover table-condensed bg-white-only">
        <tr style="font-weight: bold" class="product-grey-back">
            <td>
                Order ID
            </td>
            <td>
                PO number
                <span sortings="po" on-change="order(params)"></span>
            </td>
            <td>
                Number of Items
                <span sortings="total_amount" on-change="order(params)"></span>
            </td>
            <td>
                Total Price ($)
                <span sortings="sum_price" on-change="order(params)"></span>
            </td>
            <td>
                Submitted by
            </td>
            <td>
                Location (Facility)
            </td>
            <td>
                Order Date
                <span sortings="created_at" on-change="order(params)"></span>
            </td>
            <td>Actions</td>

        </tr>
        <tr ng-repeat="order in orders">
            <td class="v-middle">
                <span ng-bind="order.id | orderId"></span>
            </td>
            <td class="v-middle">
                <span ng-bind="order.po"></span>
            </td>
            <td class="v-middle">
                <span ng-bind="order.total_amount"></span>
            </td>
            <td class="v-middle">
                <span ng-bind="order.sum_price | number:2"></span>
            </td>
            <td class="v-middle">
                <span ng-bind="order.first_name"></span>
            </td>
            <td class="v-middle">
                <span ng-bind="order.location_name"></span>
            </td>
            <td class="v-middle">
                <span ng-bind="order.created_at"></span>
            </td>
            <td class="v-middle">
                <div>
                    <button class="btn btn-sm btn-success"
                            yes-no-modal="APPROVE_ORDER"
                            on-confirm="changeStatus(order.id, 'submited')">Approve</button>
                    <button class="btn btn-sm btn-info" ui-sref="order.modify-pending({ orderId: order.id })">Modify</button>
                    <button class="btn btn-sm btn-danger"
                            yes-no-modal="REJECT_ORDER"
                            on-confirm="changeStatus(order.id, 'rejected')">Reject</button>
                </div>
            </td>
        </tr>
    </table>
</div>